/* ------ ANIMATIONS ------ */

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes spin {
    0% {transform: scale(1) rotate(0deg);}
    100% {transform: scale(1.3) rotate(180deg);}
}


/* ------ Styling ------ */
:root{
    --color-light-gray: rgb(214, 214, 214);
    --color-dark-gray: rgb(100, 100, 100);
    --color-darker-gray: rgb(59, 59, 59);
    --color-dark-text: rgb(43, 43, 71);
    --color-light-text: rgb(221, 221, 255);
    --color-status-read: rgb(0, 201, 0);
    --color-status-reading: rgb(240, 250, 103);
    --color-status-dropped: rgb(212, 0, 0);

}

*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: var(--color-dark-text);
}

button:hover{
    cursor: pointer;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    height: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-left: 12%;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

h1{
    font-size: 3rem;
}



.add-book-btn{
    margin-bottom: 2rem;
    background-color: var(--color-light-gray);
    padding: 1rem 1.5rem;
    border-radius: 16px;
    font-size: 1.4rem;
    font-weight: 600;
    align-self: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 4px;
}

.add-book-btn svg{
    fill: var(--color-dark-text);
}

.add-book-btn:hover svg{
    animation: spin .4s;
    animation-fill-mode: forwards;
}

main{
    width: clamp(250px, 85%, 1200px);
    display: flex;
    flex-direction: column;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px; 
  }


/* ------ CARDS ------ */

.card {
    background-color: rgb(102, 126, 204); 
    padding: 20px;
    padding-right: 28px;
    border-radius: 16px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    transition: ease-in .2s;
}

h3.title{
    font-size: 2rem;
}
.author{
    font-family: "Dancing Script";
    font-weight: 900;
    font-size: 1.2rem;
}

.author::before{
    content: "by ";
}

.pages{
    font-family: "Dancing Script";
    font-weight: 900;
    font-size: .9rem;
    align-self: center;
    position: absolute;
    bottom: 32px;
}
.pages::after{
    content: " pages";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card-status{
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    text-align: center;
    transform: translateX(-50%);
    border-radius: 12px;
    padding: 4px 8px;
    background-color: var(--color-darker-gray);
    color: var(--color-light-gray);
    font-weight: 500;
}

.card-status.read::before{
    content: "Completed ✅";
}
.card-status.reading::before{
    content: "Currently reading 📖";
}
.card-status.dropped::before{
    content: "Dropped ❌";
}


/* Card on hover */

.card:hover{
    background-color: rgb(64, 71, 133);
}

.card:hover .status-container{
    animation: slideInFromBottom 0.2s ease-out forwards;
}

.card .delete-icon{
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: ease .3s;
}

.card:hover .delete-icon{
    opacity: 1;
}

/* status changer buttons on card hover*/
.status-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100%;
    height: 20%;
    background-color: rgb(34, 34, 49);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    transform: translateY(100%);
}

.status-container h4{
    color: var(--color-light-text);
}

.status{
    width: 100%;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.status button{
    font-weight: 700;
    padding: 4px 6px;
    border-radius: 4px;
}

.status .active.read{
    background-color: var(--color-status-read);
}
.status .active.reading{
    background-color: var(--color-status-reading);
}
.status .active.dropped{
    background-color: var(--color-status-dropped);
}

/* ------ FORM ------ */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}
.overlay.active{
    display: block;
}

#add-book-form{
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 2;
    border: 1px solid black;
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 16px;
    z-index: 3;
}

#add-book-form.active{
    display: block;
}

.form-container{
    padding-top: 10%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: .4rem;
}

.form-texts, .form-inputs{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-texts{
    width: 20%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-texts label{
    font-size: 1.2rem;
}

.form-inputs{
    width: 60%;
    align-items: flex-start;
}

.form-inputs input, select{
    width: 90%;
    border: 2px solid var(--color-darker-gray);
    height: 26px;
    font-weight: 600;
    border-radius: 12px;
    font-size: .9rem;
}
.form-inputs input{
    padding: .3rem .5rem;
}

.form-inputs select{
    height: 28px;
    width: 130px;
}

#add-book-form .continue{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-light-gray);
    padding: 8px 24px;
    border-radius: 12px;
    font-size: 1.2rem;
}



/* ------ VALIDATION ------ */

.error-text{
    text-align: center;
    color: rgb(255, 52, 52);
    font-size: .8rem;
}

.form-inputs input:invalid:not(:placeholder-shown){
    border: 2px solid red;
}

.form-inputs input:valid{
    border: 2px solid greenyellow;
}

input:invalid ~ button[type="submit"]{
    pointer-events: none;
    opacity: .65;
}

